################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pieskot/pieskot.Tests/bin/Debug
/pieskot/pieskot.Tests/obj/Debug
/pieskot/pieskot.Logic/obj/Debug
/pieskot/pieskot.Domain/obj/Debug
/pieskot/.vs/config
/pieskot/packages
/pieskot/pieskot/bin
/pieskot/pieskot/obj/Debug
/pieskot/pieskot.Domain/bin/Debug
/pieskot/pieskot.Logic/bin/Debug
/pieskot/.vs/pieskot/v14
firm1
/pieskot/pieskot/Content/Images/Upload/asdf
/pieskot/pieskot/Content/Images/Upload/qweqwe
/pieskot/pieskot/Content/Images/Upload/dupa
/pieskot/pieskot/Content/Images/Upload
/pieskot/pieskot/NaSpacerDo.log
/pieskot/NaSpacerDo.Tests.View/bin/Debug
/pieskot/NaSpacerDo.Tests.View/obj/Debug
/pieskot/NaSpacerDo.Tests.View/obj/Release
/pieskot/pieskot/obj/Release
/pieskot/pieskot.Domain/bin/Release
/pieskot/pieskot.Domain/obj/Release
/pieskot/pieskot.Logic/bin/Release
/pieskot/pieskot.Logic/obj/Release
/pieskot/pieskot.Tests/obj/Release
/pieskot/pieskot/Properties/PublishProfiles
/pieskot/pieskot/secretSettings.config
